*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    width: 500px;
    height: 500px;
    position: relative;
    background: radial-gradient(circle, rgb(201, 183, 166), rgb(231,227,223) );
    border: 10px solid #283E59;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}

.brand{

    position: absolute;
    top:20%;
    left:43%;
    font-size: 30px;
    color: #0f0f0f;
    border-bottom: 3px solid #563727;
    
   
    z-index: 0;

}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--n)));
    inset: 20px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
    font-size: 30px;
}

.clock::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #563727;
    z-index: 2;
    
    
}

.hands{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hands i{
    position: absolute;
    background: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 70px;
}

#hour{
    background: #563727;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    border-radius: 80%;
    width: 3.5%;
    z-index: 1;
}

#min{
    
        background: #563727;
        height: 40%;
        left: 49%;
        position: absolute;
        top: 10%;
        transform-origin: 50% 100%;
        border-radius: 80%;
        width: 3%;
        z-index: 2;
      
}

#sec{
 
        background: #80543e;
        height: 45%;
        left: 49.5%;
        position: absolute;
        top: 14%;
        transform-origin: 50% 80%;
        width: 1%;
        border-radius: 90%;
        z-index: 3;
      
}